@model IEnumerable<MyEmployee.Models.EmployeeAlert>

<br /><br />
<h2>Alert</h2>

    <p>
        <a asp-action="Create">Create New Alert</a>
    </p>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayFor(model => model..Fullname)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alert)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertId">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.AlertId">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.AlertId">Delete</a>
                    @*<a asp-action="~/EmployeeAlerts/View" asp-route-id="@item.AlertId">test</a>*@

                </td>
            </tr>
        }

            </tbody>
        </table>

    <div>
        <a asp-action="Index">@*Back to List*@</a>
        <a href="#" onclick="history.go(-1);">Go Back</a>
    </div>
